body {
    background-color: #053326;
}
header {
    width: 100%;
    background-color: #DFDDD2;
}
h1 {
    font-size: 30px;
}
header a {
    color: #053326;
}
.nav-link {
    color: #053326;
}
/*Moved nav links to the right*/
.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #053326;
}
/*About section wraps for small-screen viewing*/
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.idPhoto {
    min-width: 10rem;
    max-width: 25rem;
}
.aboutMeContent {
    min-width: 10rem;
    max-width: 50rem;
}