/*Added html to body for bg image gradient to work*/
html body {
    height: 100%;
    padding-top: 65px;
}
/*Added smooth scroll for nav links*/
html {
    scroll-behavior: smooth; 
}
body {
    color: #05332d;
    background-image: linear-gradient(#3b7a72, #779c95);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
header {
    width: 100%;
    background-color: #DFDDD2;
    left: 0;
    right: 0;
    top: 0;
}
h1 {
    font-size: 30px;
}
header a {
    color: #05332d;
}
.nav-link:hover {
    color: rgb(4, 140, 150);
}
.nav-link {
    color: #05332d;
    font-size: 20px;
}
/*added box-shadow to sticky navbar for clarity*/
.navbar {
    -webkit-box-shadow: -2px 22px 76px -21px rgba(79,115,101,1);
    -moz-box-shadow: -2px 22px 76px -21px rgba(79,115,101,1);
    box-shadow: -2px 22px 76px -21px rgba(79,115,101,1);
}
/*Moved nav links to the right*/
.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #05332d;
}
/*About section wraps for small-screen viewing*/
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 10rem;
    margin-left:300px;
    margin-right: 300px;
    background-color: rgba(195, 243, 243, 0.541);

}
.idPhoto {
    min-width: 10rem;
    max-width: 25rem;
    border-radius: 15px;
    box-shadow: 5px 5px #aaa892;
}
.aboutMeContent {    
    min-width: 10rem;
    max-width: 50rem;
    background-color: #fffeee8a;    
    border-radius: 15px;
    box-shadow: 5px 10px #aaa8927c;
}
.aboutMeContent p, h2{
    padding: 30px;
}
.card {
    background-color: rgba(195, 243, 243, 0.541);
}
.card img {
    height: 500px;
    object-fit: cover;
}
.work {
    display: flex;
   margin-left: 300px;
   margin-right: 300px;
}
.column2 {
    align-self: flex-end;
    padding-left: 125px;
}